{% extends 'base.html.twig' %}

{% block title %}Site Mail | Jessy Landas{% endblock %}

{% block body %}

    
    <main>
        <h1>Contact Symfony </h1>
        <p class="lead">Site crée par Jessy Landas.</p>
        <p class="lead">
            <a href="/formulaire" class="btn btn-lg btn-secondary border-white text-dark bg-white">Envoyer un mail</a>
        </p>
    </main>


{% endblock %}
